<html>
    <body>
        <h1>
            your response is successfully submitted!
        </h1>
        <span>
            <h2>Your score : <%= myscore %> / <%= total%></h2> 
            
        </span>
        
        
    </body>
</html>