<html>
    <!-- <h1>
        <%=user.name%>
        <a href="/sign-out">Sign-Out</a>
    </h1> -->

    <div>
        <%if(locals.admin){%>
        <h3>Create a test with unique name</h3>
        <form action="/admin/test/create" method="post">
            <input type="text" name="name" required placeholder="Test Name">
            <input type="text" name ="questionNo" required placeholder="Enter the no of question">
            <input type="hidden" name="testuserid" value="<%=user._id%>">
            <input type="submit" value="Create">
        </form>
        <%}else{%>
            <h1>cannot Create test</h1>
        <%}%>
    </div>

    <!-- <div id="all-test-by-admin">
        <%if(user.alltest.length!=undefined){%>
        <%for(test of user.alltest){%>
            <h6><%=test.name%></h6>
            <br>
            <a href="/">Detailed Summary</a>
        <%}%>
        <%}%> -->
    </div>
</html>